body{
    background-color: rgb(11, 101, 11);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: larger;
    background-size: cover;
    font-weight: 200;
}
h1{
    color:goldenrod;
    
}
p{
    color: white;
   
    font-style: italic;
   
}
#start-game,#new-card{
    color: #016f32;
    font-weight: 600;
    width: 150px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: none;
    border-radius: 4px;
    background-color: goldenrod;
    font-size: medium;
    margin: 2px;
    
}